[submodule "external/lmdb"]
	path = external/lmdb
	url = https://github.com/LMDB/lmdb.git
[submodule "external/mongoc"]
	path = external/mongoc
	url = https://github.com/mongodb/mongo-c-driver.git
[submodule "external/bsonmatch"]
	path = external/bsonmatch
	url = https://github.com/bellirodrigo2/bsonmatch.git
